@media (max-width:650px){
    
#about{
    flex-direction: column;
}
#services .box{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#services .box img{
    width: 200px;
    border-radius: 50%;
    margin: 5px 30px;
    display: block;
}
#content{
    margin: 0px 20px;
    margin-bottom: 20px;
    width: 70%;
}

#logo img {
    height: 50px;
    margin: 0px;
}
#n1 ul li a {
    font-size: 1.2rem;
    display: block;
    padding: 5px;
    margin: 6px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Nerko One', cursive;
}
.hp1 {
    font-family: 'Nerko One', cursive;
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;
}
.hp3{
    font-size: 2.5rem;
}
#content .hp{
    font-size: 1rem;
}
#home p {
    font-family: 'Nerko One', cursive;
    margin: 5px;
    font-size: 1.1rem;
}
#s1{
    display: none;
}

.hp2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    padding: 10px;
    color: black;
    
}
.hp3{
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
    padding: 10px;
    color: black;
    text-decoration: underline;
    
}
.hx{
   font-family: 'Nerko One', cursive;
}
.hp{
    font-family: 'Shadows Into Light', cursive;
    font-size: 1rem;
}
}
@media (min-width:650px) and (max-width:1110px){
    #services .box img{
        height: 300px;
        border: 1px solid white;
        border-radius: 50%;
        margin: 5px 30px;
        display: block;
    }
    #services .box{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    #s1{
        display: none;
    }
    
}