*{
    margin: 0;
    padding: 0;
    transition: 0.1s ease;

}

#n1{
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    opacity: 1;
}
#n1::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
   background-color: white;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.3;
}

#logo{
    display: flex;
    margin: 3px 0px;
    margin-left: 30px;
    color: black;
    align-self: flex-end;
    left: 10px;

   
}
#n1 .mycafe{
    font-size: 1.8rem;
    color: black;
    display: block;
   padding: 5px 10px;
   margin: 2px 0px;
   border-radius: 10px;
   text-decoration: none;
   font-family: 'Rubik Distressed', cursive;
   
}
#logo img{
    position: relative;
     height: 40px;
     width: 40px;
    margin: 3px 3px;

}
.fa-cart-shopping{
    font-size: 1.7rem;
    color: black;
    margin-right: 50px;
    text-align: center;
}
.fa-cart-shopping:hover{
    font-size: 1.7rem;
    color: rgb(52, 45, 45);
    margin-right: 50px;
}

#n1 ul{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


#n1 ul li{
    list-style: none ;
    font-size: 1.4rem;
    
    
}
.mobile{
    display: none;
}
#n1 #close{
    display: none;
}
.rightnav .cart:hover{
    font-size: 1.7rem;
    color: black;
    margin-right: 50px;
    
}
#n1 .item a:hover{
    
    color: black;
    background-color: white;

}
#n1 #men a{
    margin-right: 0px;
    padding-right: 0px;
}
#n1 ul li a{
    font-size: 1.7rem;
    color: black;
    display: block;
   padding: 2px 15px;
   margin: 6px;
   border-radius: 10px;
   text-decoration: none;
   font-family: 'Nerko One', cursive;
   transition: 0.4s ease;
   
}

#search{
    background: none;
    border-bottom: 3px solid white;
}

#home{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 3px 5px;
    justify-content: center;
    align-items: center;
    height: 620px;
    color: black;
    
}
#home::before{
    content: '';
    position: absolute;
    top: -120px;
    left: 0px;
    background: url(../bgmain2.jpg) no-repeat center center/cover;
    height: 119.3%;
    width: 100%;
    z-index: -1;
    opacity:0.8;
}
#home h1{
    display: block;
    color: black;
    
    font-family: 'Rubik Distressed', cursive;
    margin: 10px;
    opacity: 5;
}
#home p{
    color: black;
    font-family: 'Nerko One', cursive;
    margin: 10px;
    font-size: 1.5rem;
}
.b1{
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
    font-weight:900;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 25px 0px;
    border: 2px solid black;
    background-color:black;
    color: white;
    cursor: pointer;
   
}
.b1 a{
    text-decoration: none;
    color: white;
}
.b1:hover{
    font-size: 1.15rem;
    border: 2px solid rgb(6, 6, 6);
    background-color: rgb(59, 3, 3);
    color: white;
}

.hp1{
    font-family: 'Nerko One', cursive;
    font-size: 4.5rem;
    text-align: center;
    
}

.hp2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    padding: 10px;
    color: black;
    
}
.hp3{
    font-family: 'Shadows Into Light', cursive;
    font-size: 4rem;
    padding: 10px;
    color: black;
    text-decoration: underline;
    
}
.hx{
   font-family: 'Nerko One', cursive;
}
.hp{
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
}
hr{
    margin: 5px 10px ;

}
#us{
    width: 100%;
    height: 100vh;
}
#us::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../pair.jpg) center center / cover no-repeat;
}
.us1{
    width: 45%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 17px;
    margin: 50px 30px;
    opacity: 0.8;
}
#about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
#about::before {
    content: "";
    position: absolute;
    height: 232%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url(../servicebg2.jpg) center center / cover no-repeat;
}
#services .box{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
#services .box img{
    width: 400px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px 30px;
    display: block;
}
#content{
    margin: 0px 20px;
    margin-bottom: 20px;
    width: 70%;
}
#content .hp{
    padding: 10px;
    font-size: 2rem;
    color: black;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
}


#s1{
    width: 100%;
    height: 100vh;
    background: rgb(255, 249, 249);
    display: flex;
    align-items: center;
    flex-direction: column;

}

#gallery{
    font-family: 'Rubik Distressed', cursive;
    font-size: 5rem;
    padding: 5px;
    color: black;
    text-align: center;
    margin: 5px;
}
.swiper{
    width: 80%;
   height: 75vh;
 }
.swiper-slide img{
    width: 100%;
}
.swiper .swiper-button-prev{
    color: white;
    left: 0px;
}
.swiper .swiper-button-next{
    color: white;
    right: 0px;
}

.contact .contactbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.contact {
    position: relative;
}

.contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url(../contact.jpg) no-repeat center center/cover;

}

.contact input,
.contact textarea{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.contactbox form{
    width: 40%;
}
.contactbox form label{
    font-family: 'Nerko One', cursive;
    font-size: 1.4rem;
}

.copy{
    text-align: center;
    background-color: black;
    color: white;
}
.footer{
    background-color: rgb(52, 52, 52);
}
.footer .row{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer .column{
    display: flex;
    width: 25%;
    margin: 25px;
    align-items: center;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;

}

.footer .social ul{
    display: flex;
    flex-direction: row;
}
.footer .social a{
    font-size: 20px;
    color: inherit;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.7;
}
.footer .social a:hover{
    opacity: 1;
    background-color: rgb(60, 59, 59);
 } 
 .foot{
    display: flex;
    flex-direction: column;
    margin: 3px 0px;
    margin-left: 30px;
    color: black;
    align-self: center;
    justify-content: center;
    left: 10px;
} 
.foot img{
     height: 40px;
     width: 40px;
    margin: 3px 3px;

}
.foot .mycafe{
    font-size: 1.8rem;
    color: white;
    display: block;
   padding: 5px 10px;
   margin: 2px 0px;
   border-radius: 10px;
   text-decoration: none;
   font-family: 'Rubik Distressed', cursive;
   
}
 html{
    scroll-behavior: smooth;
 }
 #how .cont .box img{
    height: 42vh;
    width: 42vh;
    border: 1px solid black;
    border-radius: 50%;
 }
 #how .hp3{
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
 }
 #how .cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
 }
 #how .cont .box{
    margin: 15px;
 }
 #how .cont .box .hp{
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
 }
 #story{
    width: 100%;
    height: 100vh;
}
#story::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../story1.jpg) center center / cover no-repeat;
}
#story .us1{
    position: absolute;
    right: 0px;
    width: 45%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 17px;
    margin: 50px 30px;
    opacity: 0.8;
    align-self: flex-end;
}
#aboutus .cont .box .abt img{
    align-self: center;
    height: 42vh;
    width: 42vh;
    border: 1px solid black;
    border-radius: 50%;
 }
 #aboutus .hp3{
    margin-top: 0px;
    padding: 0px;
    text-align: center;
 }
 #aboutus .cont{
    display: flex;
    flex-direction: row;
   justify-content: center;
    margin-bottom: 20px;
 }
 #aboutus .cont .box{
    margin: 15px;
    width: auto;
    
 }
 #aboutus .cont .box .abt .hp{
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
 }
 #aboutus .cont .box .abt .hp3{
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
 }
 #aboutus .cont .box .abt{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 hr{
    size: 3rem;
    color: black;
 }
 #aboutus{
    border: 5px solid black;
 }
 #how{
    border: 5px solid black;
 }

 .product img{
    height: 100px;
}
/* cart */
 #cartbox{
    position: fixed;
    width: 200px;
    height: 350px;
    top: 9%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: none;
    z-index: 4;
 }
#cartbox.active{
    right: 2.5%;
    display: block;
}