*{
    margin: 0;
    padding: 0;
}
#n1{
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    opacity: 0.9;
}
#n1::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
   background-color: rgb(36 34 34);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.7;
}
#logo{
    display: flex;
    margin: 10px 10px;
   
}
#logo img{
    position: relative;
    
    height: 60px;
    margin: 3px 3px;
}
#n1 ul{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


#n1 ul li{
    list-style: none ;
    font-size: 1.2rem;
    
    
}
#n1 ul li a{
    font-size: 1.4rem;
    color: white;
    display: block;
   padding: 5px 20px;
   margin: 6px;
   border-radius: 10px;
   text-decoration: none;
   font-family: 'Nerko One', cursive;
   
}
#n1 ul li a:hover{
    
    color: black;
    background-color: white;

}
#rightnav{
    position: absolute;
    right: 0px;
}
#search{
    background: none;
    border-bottom: 3px solid white;
}

#home{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 3px 5px;
    justify-content: center;
    align-items: center;
    height: 620px;
    color: rgb(233, 233, 219);
    
}
#home::before{
    content: '';
    position: absolute;
    top: -120px;
    left: 0px;
    background: url(../bg3.jpg) no-repeat center center/cover;
    height: 119.3%;
    width: 100%;
    z-index: -1;
    opacity:0.96;
}
#home h1{
    display: block;
    color: white;
    
    font-family: 'Rubik Distressed', cursive;
    margin: 10px;
    opacity: 5;
}
#home p{
    color: white;
    font-family: 'Nerko One', cursive;
    margin: 10px;
    font-size: 1.5rem;
}
.b1{
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
    font-weight:900;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 25px 0px;
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
   
}
.b1 a{
    text-decoration: none;
    color: black;
}
.b1:hover{
    font-size: 1.15rem;
    border: 2px solid rgb(6, 6, 6);
    background-color: white;
    color: black;
}

.hp1{
    font-family: 'Nerko One', cursive;
    font-size: 4.5rem;
    text-align: center;
    
}

.hp2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    padding: 10px;
    color: white;
    
}
.hp3{
    font-family: 'Shadows Into Light', cursive;
    font-size: 4rem;
    padding: 10px;
    color: black;
    
}
hr{
    margin: 5px 10px ;
    align: center;
}
#about{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#about::before {
    content: "";
    position: absolute;
    height: 232%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url(../services.jpg) center center / cover no-repeat;
}
#services .box{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
#services .box img{
    width: 400px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px 30px;
    display: block;
}
#content{
    margin: 0px 20px;
    margin-bottom: 20px;
    width: 70%;
}
#content .hp{
    padding: 10px;
    font-size: 2rem;
    color: black;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
}

#menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#menu .box{
  
    border: 3px solid black;
    padding: 15px;
    margin:  25px 15px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(36 34 34);
}

#menu .box img{
    height: 50px;
    display: block;
    margin: auto;
}
#menu .box p{
    font-size: 1.3rem ;
    color: white;
  
}
#m1{
    position: relative;
    display: none;
}
#menu::before{
    content: '';
    position: absolute;
    top: 0px;
    background: url(../bgmenu2.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.96;
}

#menu .box ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
}
#menu ul li{
    list-style: none ;
    font-size: 1.2rem;
    
    
}
#menu ul li p{
    font-size: 2rem;
    color: white;
    display: block;
   padding: 5px 23px;
   margin: 10px;
   border-radius: 10px;
   text-decoration: none;
   font-family: 'Nerko One', cursive;
   
}

.headmenu{
    font-family: 'Nerko One', cursive;
    font-size: 4rem;
    padding: 2.5px;
    text-align: center;  
    margin: 10px;
    color: black;
    border-radius: 20px;
}
.contact .contactbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.contact {
    position: relative;
}

.contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url(../contact.jpg) no-repeat center center/cover;

}

.contact input,
.contact textarea{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.contactbox form{
    width: 40%;
}
.contactbox form label{
    font-family: 'Nerko One', cursive;
    font-size: 1.4rem;
}

.copy{
    text-align: center;
    background-color: black;
    color: white;
}
.footer{
    background-color: rgb(52, 52, 52);
}
.footer .row{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer .column{
    display: flex;
    width: 25%;
    margin: 25px;
    align-items: center;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;

}

.footer .social ul{
    display: flex;
    flex-direction: row;
}
.footer .social a{
    font-size: 20px;
    color: inherit;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.7;
}
.footer .social a:hover{
    opacity: 1;
    background-color: rgb(60, 59, 59);
 }  
 .hx{
    font-family: 'Nerko One', cursive;
 }